   ion-item{
    --background:white;
    --color: rgb(0, 0, 0);
    }

    iion-content, ion-toolbar, ion-item, ion-card-title {
        --background:white;
        --color: black;
        }
    ion-header {
        --background: rgb(0, 0, 0);
        --color: white;
    }
    